{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner">
  <!--<p class="banner__text">-->
  <!--  {% comment %} TEXT GOES HERE {% endcomment %}-->
  <!--  Dart 2.4.0 is live! For more information, see the-->
  <!--  <a class="external" href="https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#240---2019-06-27">change log</a>.-->
  <!--</p>-->
  <p class="banner__text">
    {% comment %} TEXT GOES HERE {% endcomment %}
    Dart 2.5.0 正式发布: 利用机器学习代码自动补全和增加 FFI 支持。更多信息，请参见：
    <a class="no-automatic-external" href="https://medium.com/dartlang/announcing-dart-2-5-super-charged-development-328822024970">博客文章。</a>.
  </p>
</div>
