{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner">
  <!--<p class="banner__text">-->
  <!--  {% comment %} TEXT GOES HERE {% endcomment %}-->
  <!--  Dart 2.4.0 is live! For more information, see the-->
  <!--  <a class="external" href="https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#240---2019-06-27">change log</a>.-->
  <!--</p>-->
  <p class="banner__text">
    {% comment %} TEXT GOES HERE {% endcomment %}
    Dart 2.6 发布，可通过自身容器编译为可执行文件，<a href="https://medium.com/dartlang/dart2native-a76c815e6baf">了解更多</a>。
  </p>
</div>
