<div class="banner">
  <p class="banner__text">
    Dart 3 已发布！带来了全新的
    <a href="https://dart.cn/language/records" class="no-automatic-external">记录类型 (records)</a>、
    <a href="https://dart.cn/language/patterns" class="no-automatic-external">模式匹配 (patterns)</a>
    以及 <a href="https://dart.cn/language/class-modifiers" class="no-automatic-external">类型修饰符 (class modifiers)</a>。
    <br>
    <!--<a href="https://medium.com/p/53f065a10635" class="no-automatic-external">Check out the blog post</a>!-->
  </p>
</div>
