<div id="sidenav">
  <form action="/search/" class="site-header-search form-inline">
    <input class="site-header-searchfield search-field" type="search" name="q"
           id="search-side" autocomplete="off" placeholder="搜索" aria-label="搜索">
  </form>

  <ul class="navbar-nav">
    <li aria-hidden="true"><div class="sidenav-divider"></div></li>
    <li class="nav-item">
      <a href="/overview" class="nav-link">概览</a>
    </li>
    <li class="nav-item">
      <a href="/community" class="nav-link">社区</a>
    </li>
    <li class="nav-item">
      <a href="https://dartpad.cn" class="nav-link">尝试 Dart</a>
    </li>
    <li class="nav-item">
      <a href="/get-dart" class="nav-link">获取 Dart SDK</a>
    </li>
    <li class="nav-item">
      <a href="/docs" class="nav-link">文档</a>
    </li>
    <li aria-hidden="true"><div class="sidenav-divider"></div></li>
  </ul>

  {% render 'sidenav-level-1.html', url:page.url, nav:sidenav, activeNav:activeNav %}
</div>
