<footer id="page-footer">
  <div class="footer-section footer-main">
    <a href="/" class="brand" title="Dart">
      <img src="/assets/img/shared/dart/logo+text/horizontal/white.svg" alt="Dart" width="164px">
    </a>
    <div class="footer-social-links">
      <a href="https://github.com/cfug/dart.cn" target="_blank" rel="noopener" title="GitHub" class="no-automatic-external">
        <svg>
          <use href="/assets/img/social/github.svg#github"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer-section footer-tray">
    <div class="footer-licenses">
      除非另有说明，否则本网站根据
      <a href="https://creativecommons.org/licenses/by/4.0/" class="no-automatic-external">知识共享署名 4.0 国际许可</a>
      进行许可，代码示例根据
      <a href="https://opensource.org/licenses/BSD-3-Clause" class="no-automatic-external">3-Clause BSD 许可</a>
      进行许可。
    </div>
    <div class="footer-utility-links">
      <ul>
        <li><a href="/terms" title="使用条款">条款</a></li>
        <li><a href="https://policies.google.cn/privacy" target="_blank" rel="noopener" title="隐私政策" class="no-automatic-external">隐私政策</a></li>
        <li><a href="/security" title="Security philosophy and practices">安全理念与实践</a></li>
        <li><a href="#" class="no-automatic-external">由北京千跃优意维护基础设施资源</a></li>
        <li><a href="http://beian.miit.gov.cn" class="no-automatic-external">京ICP备13029451号-6</a></li>
        <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802029624" class="no-automatic-external">京公网安备11010802029624号</a></li>
      </ul>
    </div>
  </div>
</footer>
