{% assign repo = repo | default: site.repo.this -%}
{% capture pageSource -%} {{repo}}/tree/{{site.branch}}/{{page.inputPath | replace: './', ''}} {%- endcapture -%}
{% assign siteTitle = title | default: page.url | escape -%}
{% assign url = site.url | append: page.url -%}

<p id="page-github-links">
  <span>
    <!-- Unless stated otherwise, the documentation on this site reflects Dart {{site.sdkInfo.version}}. Page last updated on {{page.date | toSimpleDate}}. -->
    除非另有说明，文档之所提及适用于 Dart {{site.sdkInfo.version}} 版本，本页面最后更新时间: {{page.date | toSimpleDate}}。 
  </span>
  <a href="{{pageSource}}" target="_blank" rel="noopener"><!-- View source -->查看文档源码</a>
  <span> <!-- or -->或者 </span>
  <a href="{{repo}}/issues/new?template=1_page_issue.yml&page-url={{url}}&page-source={{pageSource}}" title="为本页面内容提出建议" target="_blank" rel="noopener"><!-- report an issue -->报告页面问题</a>。
</p>
